{% extends "MCBase/base.html" %}
{% load staticfiles %}

{% block javascript %}
  <link rel="stylesheet" href="{% static 'myContent/css/cv.css' %}">
{% endblock %}

{% block title %}
  cv
{% endblock %}

{% block body_block %}
  <div class="content">


    <div class="page-header">About me</div>
    <!-- about me -->
    <div class="cv-text">
      <img src="{% static 'myContent/self_portrait.png' %}" alt="me"><br/ >
      <br />
      My name is Michael.<br />
      I did my bachelor's in physics at Caltech.<br />
      I did my PhD in developmental biology at UCI.<br />
      At some point, I will write a layman's summary about my work. For now, you
      can read my publications <a href="{% url 'myContent:publications' %}">here</a>.<br>
      I am open to collaboration requests. I'm mostly a programmer; I worked on biological
      image processing during my PhD. <br />
    </div>


    <div class="page-header">Curriculum vitae</div>

    <!-- about me -->
    <div class="cv-text">
      Download <a href="{% static 'myContent/CV.pdf' %}">here</a>.
    </div>

{% endblock %}
