{% extends "MCBase/base.html" %}
{% load staticfiles %}

{% block javascript %}
  <link rel="stylesheet" href="{% static 'myContent/css/software.css' %}">
{% endblock %}

{% block title %}
  software
{% endblock %}

{% block body_block %}
  <div class="content">
    <div class="page-header">Software portfolio</div>

    <!-- lipid droplet segmenter -->
    <div class="software-title">
      blobSegmenter (beta)
    </div>
    <div class="software-description">
      An ImageJ plugin for segmenting CARS images of macrophages. This plugin is
      currently in development.
    </div>
    <div class="software-link">
      [<a href="{% url 'blobSegmenter:index'  %}">link</a>]
    </div>

    <!-- journalClubDB -->
    <div class="software-title">
      journalClubDB (beta)
    </div>
    <div class="software-description">
      A website for collaborative discussion of scientific publications. This
      website is currently in development.
    </div>
    <div class="software-link">
      [<a href="http://www.journalClubDB.com">link</a>]
    </div>



  </div>
{% endblock %}
