.content {
  line-height: 145%;
}

.content .blog-entry {
  background-color: #F5F5F5;
  padding-left: 0.25in;
  padding-right: 0.25in;
  padding-top: 0.05in;
  padding-bottom: 0.05in;
  border-radius: 0.25in;
  margin-bottom: 20px;
}

.content .blog-entry  h1 {
  color: #2970A6;
  font-weight: bold;
  font-family: Verdana,"BitStream vera Sans",Helvetica,Sans-serif;
  font-size: 25px;
  margin-top: 10px;
}
.content .blog-entry  h2 {
  color: #265e15;
  font-weight: bold;
  font-family: Verdana,"BitStream vera Sans",Helvetica,Sans-serif;
  font-size: 16px;
  margin-top: 10px;
}


.content .blog-entry p {
  font-size: 12px;
}

.blog-date {
  color: #888;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 9px;
}

hr {
  border-top: 1px solid black;
  margin-top: 2px;
  margin-bottom: 2px;
}

.blog-text img {
   height: auto !important;
   width: auto !important;
   max-height: 150px !important;
   max-width: 150px !important;
}
