{% extends "MCBase/base.html" %}
{% load staticfiles %}

{% block javascript %}
  <link rel="stylesheet" href="{% static 'blobSegmenter/css/index.css' %}">
{% endblock %}

{% block title %}
  blobSegmenter
{% endblock %}

{% block body_block %}
  <div class="content">
    <div class="page-header">BlobSegmenter</div>

    <!-- lipid droplet segmenter -->
    <div class="software-title">
      About
    </div>
    <div class="software-description">
      <i>BlobSegmenter</i> is an ImageJ plugin designed to count lipid droplets
      in CARS images of macrophages.
    </div>

    <!-- journalClubDB -->
    <div class="software-title">
      Download
    </div>
    <div class="software-description">
      You can download <i>BlobSegmenter</i> <a href="{% static 'blobSegmenter/blobSegmenter_.jar' %}">here</a>.<br />
      Click <a href="{% url 'blobSegmenter:tutorial' %}">here</a> for detailed installation instructions and a step-by-step tutorial.
    </div>
  </div>
{% endblock %}
