.content {
  line-height: 145%;
}

.content .page-header {
  display: block;
  margin-top: 20px;
  border-bottom: 1px solid #CCC;
  padding: 0 5px 3px;
  font-size: 16px;
  font-family: Verdana,"BitStream vera Sans";
  font-weight: bold;
  letter-spacing: -0.05em;
  color: #555;
}

.content .software-title {
  color: #2970A6;
  font-weight: bold;
  font-family: Verdana,"BitStream vera Sans",Helvetica,Sans-serif;
  font-size: 12px;
}

.content .software-description {
  margin-left: 0.25in;
  font-size: 12px;
}

.content .software-link {
  margin-left: 0.25in;
  margin-bottom: 10px;
  font-size: 12px;
}
