{% extends "MCBase/base.html" %}
{% load staticfiles %}

{% block javascript %}
  <script src="{% static 'Blog/js/index.js' %}"></script>
  <link rel="stylesheet" href="{% static 'Blog/css/index.css' %}">
{% endblock %}

{% block title %}
  blog
{% endblock %}

{% block body_block %}
  <div class="content">

    <!-- admin interface -->
    {% if request.user.is_superuser %}
    <div><a href="{% url 'Blog:adminPanel' %}">adminPanel</a></div>
    {% endif %}

    <!-- all blog posts -->
    <div>
      {% if blogEntries %}
      {% for blogEntry in blogEntries %}
        <div class="blog-entry" id="e{{ blogEntry.pk }}">
          <div class="blog-date">
            <div>
              {{ blogEntry.time|date:'F j, Y' }}
            </div>
            <hr />
          </div>
          <div class="blog-text">
            {{ blogEntry|safe }}
          </div>



        </div>

      {% endfor %}
      {% else %}
        No blog entries
      {% endif %}
    </div>

  </div>
{% endblock %}
